{% extends "base.html" %}
    <!--COLLECTION-->
    {% block content %}
      <section class="collection-container">
        <table class="styled-table">
          <tbody>
            <tr>
              <th>Trainer</th>
              <th>Pokemon Card</th>
              <th>Collection Date</th>
            </tr>

            {% for object in object_list %}
            <tr>
              <td>{{ object.trainer }}</td>
              <td>{{ object.pokemon_card }}</td>
              <td>{{ object.collection_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  {% endblock content %}
  